.subscribe img {
    width: 70%;
    height: 70%;
}

.label-text {
    font-size: 16px;
    font-family: Arial, serif;
}

.inv {
    display: none;
}


.description {
    font-size: 20px;
    padding: 5px;
    font-family: Arial, serif;
}

.top-m-1 {
    margin-top: 10px;
}

#course0, #course1 {
    display: none;
}

.navbar {
    min-height: 70px !important;
}

.navbar ul{
    margin-top: 8px;
}

.subscribe {
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }