

a {
    text-decoration: none;
    color: #000;
}

.dashboard-container {
    background: #e8e0da;

    width:40%;
    margin-top: 20px;

    height:100%;
    border:1px solid;
}

.dashboard-links {
    float: left;
    font-size: 24px;
    padding: 5px;
}

.dashboard-profile {

    font-size: 20px;
    padding-right: 10px;
    margin-right: 10px;
}

.dashboard-profile img {
    padding: 10px 10px 10px 0;
}

.dashboard-links li {
    padding: 2px 3px;
    display: block;
    border: 1px solid;
    list-style: none;
    text-decoration: none;
}

.dashboard-links li:hover {
    background: #ffaaa9;
}

