@media only screen and (max-width: 768px){
    .dashboard-links {
        font-size: 2em;
    }

    .dashboard-profile  p{
        font-size: 0.7em;
    }

    .dashboard-profile-img {
        width: 70%;
        height: auto;
        margin:0 auto;
    }
}


a {
text-decoration: none;
color: #000;
}

.back-well{
background-color: navajowhite;
}

.back-well1{
background-color: #2aabd2;
}

.dashboard-container {
background: #e8e0da;
margin-top: 20px;
height:100%;
border:1px solid;
}

.dashboard-links {
float: left;
font-size: 24px;
padding: 5px;
}


.dashboard-profile {
    font-size: 2em;
    padding-right: 10px;
    margin-right: 10px;
}

.dashboard-profile img {
    padding: 10px 10px 10px 0;
}

.dashboard-links li {
    padding: 2px 3px;
    display: block;
    border: 1px solid;
    list-style: none;
    text-decoration: none;
}

.dashboard-links li:hover {
    background: #ffaaa9;
}

.navbar {
    min-height: 70px !important;
}

.navbar ul{
    margin-top: 8px;
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }