th {
    background: lightgray;
}



.table table tr,th,td {
    border: 1px solid black !important;
    padding: 1px 1px 1px 3px;
}

table tr:nth-child(2n+1) {
    background: #efefef;
}


.top-m-2 {
    margin-top: 20px;
}

.newsList {
    font-size: 16px;
    font-weight:bold;
    padding-bottom: 5px;
}

.navbar {
    min-height: 70px !important;
}

.navbar ul{
    margin-top: 8px;
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }