@media only screen and (max-width: 768px) {
    .little-res {
        font-size: 1.2em;
    }
}

.top-m-1 {
    margin-top: 10px;
}

.top-m-2 {
    margin-top: 20px;
}

.navbar {
    min-height: 70px !important;
}

.navbar ul{
    margin-top: 8px;
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }