@media only screen and (max-width: 991px){
    .top-res-m-1 {
        margin-top: 20px;
    }
}
.signup-button {
    padding: 5px;
    float: right;
    position: relative;
    right: 30px;
}

.form-box {
    padding-top: 15px;
    margin-left: 15px;
}

.top-m-1 {
    margin-top: 10px;
}

.top-m-2 {
    margin-top: 20px;
}

