@media only screen and (max-width: 768px){
    body {
        font-size: 1.3em;
    }
}

header {
    background-color: #ececec;
}


.signin {
    padding: 5px;
    float: right;
    position: relative;
    right: 30px;
    margin-top: 10px;
}




