header {
    text-align: center;
}


.signin {
    padding: 5px;
    float: right;
    position: relative;
    right: 30px;
}

.form-registration {

}

.form-registration form {
    margin: 0 auto;
}



